<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Package</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
</head>
<body>
    <%- include("partials/navbar") %>
    <div class="container column has-text-centered">
        <h1 class="title">Edit Package</h1>
        <form method="post" action="/api/update?id=<%-data.id%>">
            <div class="m-3">
                <strong class="title is-5">ID: </strong><%- data.id %>
            </div>
            <div class="m-3">
                <strong class="title is-5">Status: </strong>
                <div class="select">
                    <select name="status" selected="none">
                        <option <%- data.status === "PENDING" ? "selected" : "" %> value="PENDING">PENDING</option>
                        <option <%- data.status === "DELIVERED" ? "selected" : "" %> value="DELIVERED">DELIVERED</option>
                        <option <%- data.status === "OUT FOR DELIVER" ? "selected" : "" %> value="OUT FOR DELIVERY">OUT FOR DELIVERY</option>
                    </select>
                </div>
            </div>
            <div class="m-3">
                <strong class="title is-5">Shipped Date: </strong><%- data.shippedDate ? data.shippedDate : "N/A" %>
            </div>
            <div class="m-3">
                <strong class="title is-5">Delivery Date: </strong> <%- data.deliveryDate ? data.shippedDate: "N/A" %>
            </div>
            <div class="m-3">
                <strong class="title is-5">From Address: </strong><%- data.fromAddress %>
            </div>
            <div class="m-3">
                <strong class="title is-5">To Address: </strong><%- data.toAddress %>
            </div>
            <div class="mt-3">
                <button class="button is-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</body>
</html>